name: Build and Deploy
on: 
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm' # Habilitar caché de NPM

      # Paso 1: Instalación de dependencias
      # Ejecutar 'npm ci' (limpio) ahora debería funcionar ya que 'nuxt prepare'
      # ya no es parte del hook 'postinstall'.
      - name: Install dependencies
        run: npm ci

      # Paso 2: Ejecutar el script 'prepare' explícitamente.
      # Este paso es el que antes fallaba, pero al estar separado del 'npm ci',
      # es más probable que se ejecute correctamente.
      - name: Run Nuxt Prepare
        run: npm run prepare

      # Paso 3: Construcción de la aplicación (Build)
      - name: Build Application
        run: npm run build